<div class="content is-medium">
  <h1>Popular Geners</h1>
  <ol>
    <% @genres.each do |genre| %>
      <li><%= link_to genre.name,genre%></li>
    <% end %>
  </ol>
</div>
<ol>
  <%= render @genres %>
  <%= paginate @genres %>
</ol>