<div class="content is-medium">
  <h3 class="title is-3">All Games Publishers</h3>
  <% @publishers.each do |publisher|%>
    <p><%= link_to publisher.publisher_name, publisher%></p>
  <% end %>
</div>