<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="jumbotron">
				<h2>
					你好世界！
				</h2>
				<p>
					这是一个简单的营销或信息网站的模板。它包括一个称为英雄单元的大型标注和三个支持内容。以它为起点来创造更独特的东西。
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">学到更多</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				标题
			</h2>
			<p>
				Donec id elit non mi porta gravida 在 eget metus。Fusce dapibus、tellus ac cursus commodo、tortor mauris condimentum nibh、ut balloonum massa justo sit amet risus。Etiam porta sem malesuada magna mollis euismod。Donec sed odio dui。
			</p>
			<p>
				<a class="btn" href="#">查看详情 ”</a>
			</p>
		</div>
	</div>
</div>